<h1>Página index do welcome</h1>

<h4>Estou em app > views > welcome > index.html.erb</h4></br>
<h4>
    Após o <b>controlador</b> ter processado a solicitação e <b>obtido os dados
    necessários do modelo</b>, ele renderiza uma visão para ser enviada de volta
    ao navegador. Ou seja, aqui recebe as <b>informações do controlador</b> e gera a interface
    do usuário.
</h4></br>

<h4>
    <%= @var_controller_index %>
</h4>

<p>A frase acima está instanciada aqui no index da pasta welcome 
    é só colocar: @var_controller_index que aparece o que está dentro do método INDEX do controller. 
    Dentro desse método, está declarada essa variável no qual faz referência a essa frase acima.</p>
</br>

<h2>AGENDAS</h2>
<!-- 
#! Existem duas formas de como colocar um link para uma página, 
#! essa forma abaixo não é tão recomendada pois tem que escrever manualmente a rota e 
#! em caso de alteração, terá que alterar manualmente cada uma. 
<a href="/agendas/new">Cadastro de Agenda</a> 

#? O recomendável é que seja escrita as rotas com o seu path 
-->
<%= link_to 'Cadastro de Agenda', agendas_path, :class => 'btn btn-info' %>